.bd-example-1 {
    position: relative;
    float: left;
    width: 50%;
    padding: .75rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    border-width: 1px;
}

.bd-example-2 {
    position: relative;
    float: right;
    width: 50%;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    border-width: 1px;
}

 